@import "./config";



body {
    font-size: 1.6rem;
    font-family: 'Noto Serif SC', serif;
    color: $primary-color;

    h1, h2 {
        font-family: 'DM Sans', sans-serif;
    }

    h1 {
        font-size: 4rem;
        font-weight: 400;    
    }

    h2 {
        
    }
}