@import "./config";

.head {
    background-color: #fff;

    &__img {
        margin: 2rem;
    }
}

html {
    height: 100%;
    
}

body {
    width: 100%;
    background: $main-gradient fixed;
    font-size: 1.6rem;
}

.main {
    
    font-family: 'DM Sans', sans-serif;
    color: $primary-color;
    text-align: center;
    

   h1, h2 {     
        text-transform: uppercase;
        font-size: 4rem;
    }

    h1{
        font-weight: 400;  
        letter-spacing: 1.6rem;  
    }

    h2 {
        font-weight: 700;
        color: $secondary-color;
        letter-spacing: 1.2rem;
    }

    p {
        margin-top: 2rem;
        line-height: 2;
        letter-spacing: 1px;
        font-weight: 400;
    }

    &__portrait {
        height: 32vh;
        width: 100%;
        background: url('../img/main-image.png') no-repeat;
        background-size: cover;
    }

    &__text {
        margin: 4.1rem;
        
    }

    &__call-to-action {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 4rem;
        opacity: 50%;
        
        input {
            display: inline-block;
            width: 100%;
            background: transparent;
            border: 2px solid $primary-color;
            outline: none;
            padding: 2rem;
            height: 6rem;
            border-radius: 20rem;
        &::placeholder {
            color: $primary-color;
            font-size: 1.4rem;
            font-family: 'Noto Serif SC', serif;
        }
        }
        
        button{
            border: none;
            outline: none;
            color: #fff;
            background: $button-gradient;
            height: 5.8rem;
            font-size: 3.6rem;
            padding: .78rem 3rem;
            border-radius: 20rem;
            box-shadow: 2px 6px 12px 2px $primary-color;
            width: 8rem;
            margin-left: -2.2rem;
            margin-top: -6rem;
           
            &:hover {
                cursor: pointer;
            }
        }

        .warning-icon {
            visibility: hidden;
            position: absolute;
            right: 15rem;
            margin: 0.5rem;
            font-size: 4rem;
            color: red;
        }
        .warning-msg {
            visibility: hidden;
            z-index: 2;
            font-size: 1.3rem;
            color: red;
            margin-top: -0.6rem;
            margin-left: 5rem;
            text-align: left;
        }
        .error {
            visibility: visible;
            border-color: red;
        }
    }
}

@include media-md {
    .main {
        &__text{
            h1, h2 {
                font-size: 6.5rem;
            }
        }
    }
}

@include media-lg {
    .head {
        background-color: transparent;
        margin-top: 6.5rem;
        &__img {
            width: 16rem;  
            margin-left: 16.5rem;
        }
    }

    .main {
        display: flex;
        flex-direction: row-reverse;
        position: absolute;
        top: 0;
        right: 0;
        

        &__portrait {
            height: 100vh;
            background-image: url('../img/main-image-desktop.png');
        }

        &__text {
            margin: 23.5rem 30rem 0 16.5rem;
            text-align: left;
        }
    }

    @include media-xl {
        body {
            display: flex;
            flex-direction: column;
        }
        .main {
            position: relative;
            width: 1500px;
            margin: auto ;
        }
        .head {
            text-align: center;
        }
        
    
    }
    
}